[user]
	name = Christian Brickhouse
	email = brickhouse@stanford.edu
	signingkey = 061C8AEEF0D5561F
[merge]
	tool = vimdiff
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gitreview]
	remote = origin
	username = wug
[pull]
	ff = only
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	graph = log --oneline --graph
[push]
	followTags = true
